// 滚动条样式
.scrollbar (@width: 9px, @height: 9px) {
  &::-webkit-scrollbar-track-piece {
    background-color:transparent;
  }
  &::-webkit-scrollbar {
    width: @width;
    height: @height;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @scrollbar-bg;
    border-radius: 4px;
    background-clip:padding-box;
    min-height: 28px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: @scrollbar-hover-bg;
  }
}